body {
    max-width: 600px;
    margin: 0 auto;
    padding: 0;
    position: relative;
    font-size: 16px;
    font-family: "Noto Sans CJK KR", sans-serif , "Roboto", sans-serif; ;

}
.main_img {
    display: flex;
    justify-content: center;
}
#logo_main {
    background-image: url('../static/images/logo.png');
    width: 150px;
    height: 150px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    padding-top: 60px;
    padding-bottom: 60px;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
}
.wrap {
    max-width: 600px;
    width: 85%;
    height: auto;
    margin: 0 auto;
}
.header {
    z-index: 1;
    margin: 0 auto;
    position: fixed;
    max-width: 600px;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 6px;
    border-bottom: 1px solid #ededed;
    background-color: #fff;

}

.footer {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
}
.btn-s {
    max-width: 120px;
    width: 100%;
    height: 30px;
    font-size: 14px;
    background-color: #178ded;
    color: #ffffff;
    border: none;
    border-radius: 6px;
}
.btn-xs {
    max-width: 50px;
    width: 100%;
    height: 30px;
    font-size: 14px;
    background-color: #178ded;
    color: #ffffff;
    border: none;
    border-radius: 6px;
}
#canvas {
    display: none;
}
#caution {
    font-size: 14px;
    margin-top: 30px;
    margin-bottom: 20px;
    line-height: 18px;
    width: 100%;
    text-align: center;
    color: #767676;
}

.camera {
    max-width: 600px;
    width: 100%;
    max-height: 400px;
    height: 100%;
    margin: 0 auto;

    /*박스사이징: 패딩안겹치게*/
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.camera #video {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 4px solid #BDBDBD;
    box-sizing: border-box;

}

#startbutton {
    margin-top: 10px;
}

#bottom-background {
    margin-top: 30px;
    width: 100%;
    height: 120px;
    background-image: url('https://i.ytimg.com/vi/A89H0tQoZsY/maxresdefault.jpg');
    background-position: center;
    background-size: cover;
}