body {
    max-width: 600px;
    margin: 0 auto;
    padding: 0;
    position: relative;
    font-size: 16px;
    font-family: "Noto Sans CJK KR", sans-serif , "Roboto", sans-serif; ;

}
#logo {
    background-image: url('../static/images/logo.png');
    width: 54px;
    height: 54px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 6px;
}
.header {
    z-index: 1;
    margin: 0 auto;
    position: fixed;
    max-width: 600px;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 6px;
    border-bottom: 1px solid #ededed;
    background-color: #fff;

}
.footer {
    position: fixed;
    z-index: 10;
    bottom: 0;
    box-sizing: border-box;
    padding: 0 6px;
    max-width: 600px;
    width: 100%;
    height: 60px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    border-top: 1px solid #ededed;
}
.container {
    padding-top: 60px;
    padding-bottom: 60px;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
}
input {
    max-width: 600px;
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    font-size: 18px;
    margin: 0 20px;
    background-color: #F8F8FA;
    border: 1px solid #DBDBDB;
    border-radius: 6px;
    padding-left: 10px;
}
.btn {
    max-width: 600px;
    width: 100%;
    margin: 0 20px;
    height: 50px;
    font-size: 18px;
    font-weight: 700;
    background-color: #178ded;
    color: #ffffff;
    border: none;
    border-radius: 6px;
}
.btn-s {
    max-width: 80px;
    width: 100%;
    height: 40px;
    font-size: 18px;
    font-weight: 700;
    background-color: #178ded;
    color: #ffffff;
    border: none;
    border-radius: 6px;
}
.btn-xs {
    max-width: 50px;
    width: 100%;
    height: 40px;
    font-size: 18px;
    font-weight: 700;
    background-color: #178ded;
    color: #ffffff;
    border: none;
    border-radius: 6px;
}
.nav {
    width: 50px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: none;
}
.btn_camera {
    background-image: url('../static/images/btn_camera.png');
}
.btn_menu_bar {
    background-image: url('../static/images/btn_nav.png');
}
.footer .review {
    background-image: url("../static/images/btn_comment.png");
}

.footer .crawling {
    background-image: url("../static/images/btn_search.png");

}

.footer .category {
    background-image: url("../static/images/recycle_squre.png");

}

/*page/classification*/
.nav_group::-webkit-scrollbar {
    display: none;
}
.nav_group {
    height: 80px;
    overflow-y: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    background-color: #f8f8fa;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 0 10px;
}

.nav_items {
    display: flex;
    width: auto;
}
.nav_items li:first-child{
    margin-left: 0;
}
.nav_items li {
    margin-left: 6px;
    background-color: #fff;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
    opacity: .5;
}
.nav_items li.active {
    box-shadow: 0 0 0 3px #41c762 inset;
    opacity: 1;
}
.item1 {
    background-image: url('../static/images/plastic_class.png');
}
.item2 {
    background-image: url('../static/images/paper_class.png');
}
.item3 {
    background-image: url('../static/images/battery_class.png');
}
.item4 {
    background-image: url('../static/images/metal_class.png');
}
.item5 {
    background-image: url('../static/images/box_class.png');
}
.item6 {
    background-image: url('../static/images/cloth_class.png');
}
.item7 {
    background-image: url('../static/images/shoes_class.png');
}
.item8 {
    background-image: url('../static/images/green_bottle_class.png');
}
.item9 {
    background-image: url('../static/images/white_bottle_class.png');
}
.item10 {
    background-image: url('../static/images/brown_bottle_class.png');
}
.item11 {
    background-image: url('../static/images/trash_class.png');
}
.item12 {
    background-image: url('../static/images/bio_class.png');
}
.tabcontent {
    display: none;
}
.tabcontent {
  animation: fadeEffect 1s;
}
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}
.background_box {
    width: 100%;
    height: auto;
    background-color: #f8f8fa;
    box-sizing: border-box;
    padding: 10px 10px 200px;
}
.recycle_content {

}
.content_img {
    background-color: #fff;
    border-radius: 10px;
    max-width: 600px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 0;
}
.plastic {
    background-image: url('../static/images/plastic_class.jpg');
    height: 600px;
}
.paper {
    background-image: url('../static/images/paper_class.jpg');
    height: 900px;
}
.battery {
    background-image: url('../static/images/battery_class.jpg');
    height: 500px;
}
.metal {
    background-image: url('../static/images/metal_class.jpg');
    height: 600px;
}
.box {
    background-image: url('../static/images/box_class.jpg');
    height: 500px;
}
.cloth {
    background-image: url('../static/images/cloth_class.jpg');
    height: 500px;
}
.shoes {
    background-image: url('../static/images/shoes_class.jpg');
    height: 500px;
}
.bottle {
    background-image: url('../static/images/glass_class.jpg');
    height: 1150px;
}
.trash {
    background-image: url('../static/images/trash_class.jpg');
    height: 500px;
}
.bio {
    background-image: url('../static/images/bio_class.jpg');
    height: 1100px;
}

.link {
    margin-top: 20px;
    max-width: 600px;
    width: 100%;
    height: 100px;
    border: 1px solid #dbdbdb;
    display: flex;
    align-items: center;
    background-color: #f1f1f5;
    border-radius: 10px;

}
.p_group {
    margin-left: 20px;
}
.p_group a {
    color: #178ded;
}
.p_group p {
    margin-top: 10px;
    color: #797979;
}
.link_img {
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.ppseoul {
    background-image: url('../static/images/plastic_link_img_1.png');
}
.touch4good {
    background-image: url('../static/images/plastic_link_img_2.png');
}