
body {
    margin: 0;
    padding: 0;
    position: relative;
    font-size: 16px;
    font-family: 'Noto Sans KR', sans-serif;
    line-height: 20px;
}

.header {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    height: 60px;

}

.footer {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
}

.container {
    padding-top: 70px;
    padding-bottom: 70px;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
}

input {
    max-width: 600px;
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    font-size: 18px;
    margin: 0 20px;
    background-color: #F8F8FA;
    border: 1px solid #DBDBDB;
    border-radius: 6px;
    padding-left: 10px;
}

.btn {
    max-width: 600px;
    width: 100%;
    margin: 0 20px;
    height: 50px;
    font-size: 18px;
    font-weight: 700;
    background-color: #178ded;
    color: #ffffff;
    border: none;
    border-radius: 6px;
}

.btn-s {
    max-width: 80px;
    width: 100%;
    height: 40px;
    font-size: 18px;
    font-weight: 700;
    background-color: #178ded;
    color: #ffffff;
    border: none;
    border-radius: 6px;
}

.btn-xs {
    max-width: 50px;
    width: 100%;
    height: 40px;
    font-size: 18px;
    font-weight: 700;
    background-color: #178ded;
    color: #ffffff;
    border: none;
    border-radius: 6px;
}

.nav {
    width: 60px;
    height: 60px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: none;
}

.top {
    border-bottom: 1px solid #DBDBDB;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #F8F8FA;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    box-sizing: border-box;
}

.btn_camera {
    background-image: url('../static/images/btn_camera.png');
}

.btn_menu_bar {
    background-image: url("../static/images/btn_nav.png");
}
.bottom{
    background-color: #F8F8FA;
    border: 1px solid #ededed;
    border-top: 1px solid #DBDBDB;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    text-align: center;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
}
.recommend_btn_group{
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.list_box{

}
.footer button{
    background-color: transparent;
    color: black
}
#crawl_cup_list{
}
.list_box::-webkit-scrollbar { display: none; }
.list_box{
    padding: 10px;
    display: flex;
    height: 140px;
    border: 1px solid #DBDBDB;
    border-radius: 10px;
    margin-bottom: 20px;
    align-items: flex-start;
    overflow-x: hidden;
    -ms-overflow-style: none; scrollbar-width: none;
}
.crawl_left{
    float: left;
    width: 150px;
    height: 150px;
}
.crawl_left img{
    border-radius: 6%;
    margin-top: 10px;
    width: 120px;
    height: 100px;
}
.crawl_right{
    float: right;
    margin-left: 20px;
    width: 100%;
    max-width: 450px;
    height: 150px;
    display: inline-block;
}
.txt_title{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;

}
.txt_content{
    font-size: 14px;
    margin-bottom: 8px;
    padding: 1px;
}
.txt_hashtag{
    font-size: 12px;
    margin: 2px;

}
.txt_tag{
    font-size: 7px;
    border-radius: 5px;
    color: #178ded;
}
.crawling_hashtag{
    float: end;
}
.review{
    background-image: url("../static/images/btn_comment.png");
}
.crawling{
    background-image: url("../static/images/btn_search.png");
}
.category{
    background-image: url("../static/images/recycle_squre.png");
}