body {
    max-width: 600px;
    margin: 0 auto;
    padding: 0;
    position: relative;
    font-size: 16px;
    font-family: "Noto Sans CJK KR", sans-serif , "Roboto", sans-serif; ;

}
#logo {
    background-image: url('../static/images/logo.png');
    width: 54px;
    height: 54px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 6px;
}
.header {
    margin: 0 auto;
    position: fixed;
    max-width: 600px;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 6px;
    border-bottom: 1px solid #ededed;
    background-color: #fff;

}
.footer {
    position: fixed;
    z-index: 10;
    bottom: 0;
    box-sizing: border-box;
    padding: 0 6px;
    max-width: 600px;
    width: 100%;
    height: 60px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    border-top: 1px solid #DBDBDB;
}
.container {
    padding-top: 60px;
    padding-bottom: 60px;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
}
.wrap {
    max-width: 600px;
    width: 85%;
    height: auto;
    margin: 0 auto;
}
input {
    max-width: 600px;
    width: 100%;
    height: 50px;
    font-size: 18px;
    background-color: #F8F8FA;
    border: 1px solid #DBDBDB;
    border-radius: 6px;
    padding-left: 10px;
    box-sizing: border-box;
}
.btn {
    max-width: 600px;
    width: 100%;
    height: 50px;
    font-size: 18px;
    font-weight: 700;
    background-color: #178ded;
    color: #ffffff;
    border: none;
    border-radius: 6px;
    box-sizing: border-box;
}
.btn-s {
    max-width: 120px;
    width: 100%;
    height: 30px;
    font-size: 14px;
    background-color: #178ded;
    color: #ffffff;
    border: none;
    border-radius: 6px;
}
.btn-xs {
    max-width: 50px;
    width: 100%;
    height: 30px;
    font-size: 14px;
    background-color: #178ded;
    color: #ffffff;
    border: none;
    border-radius: 6px;
}
.nav {
    width: 50px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: none;
}
.btn_camera {
    background-image: url('../static/images/btn_camera.png');
}
.btn_menu_bar {
    background-image: url('../static/images/btn_nav.png');
}
.btn_open_close {
    margin-top: 20px;
    margin-bottom: 10px;
}
.review_post {
    margin-top: 16px;
}

.container .earth_img {
    width: 100%;
    height: 450px;
    margin: 20px auto 0;
    background-image: url("../static/images/review_earth_img.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.container .count {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: -2px;
    text-align: center;
}

.footer .review {
    background-image: url("../static/images/btn_comment.png");
}

.footer .crawling {
    background-image: url("../static/images/btn_search.png");

}

.footer .category {
    background-image: url("../static/images/recycle_squre.png");

}
.review_box {
}

.review_box input {
    margin-bottom: 10px;
}

.review_box input:nth-last-child(2) {
    margin-bottom: -5px;
}

.review_list_box {
    height: 35px;
    padding: 10px;
    display: flex;
    align-items: flex-start;
    font-size: 14px;
    margin-top: 20px;
    border-top: 1px solid #dbdbdb;


}


.review_list_box .reviewer {
    min-width: 80px;
}
.review_list_box .comment::-webkit-scrollbar {
    display: none;
}

.review_list_box .comment {
    margin-left: 10px;
    color: #767676;
    height: 35px;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.review_list_box textarea {
    color: #767676;
    font-size: 14px;
    background-color: #F8F8FA;
    border: 1px solid #DBDBDB;
    max-height: 50px;
    margin-left: 10px;
    border-radius: 6px;
    box-sizing: border-box;
    padding-left: 10px;

}

.updel_btn{
    display: flex;
    justify-content: flex-end;
    box-sizing: border-box;
    padding-right: 10px;
    margin-top: 10px;
}
.updel_btn:last-child {
    margin-bottom: 20px;
}
.updel_btn button:first-child {
    margin-right: 6px;
}
.pwd_group {
    margin-top: 6px;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.pwd_input {
    font-size: 12px;
    height: 30px;
    max-width: 150px;
    width: 100%;
}