<!DOCTYPE html>
<html lang="en">

<head>
    <title>Realtime communication with WebRTC</title>
</head>
<body>
<h1>Why is there an error when I write Korean?</h1>
<video autoplay playsinline></video>

<h1>I don't know why</h1>

<div id="buttons">
    <button onclick="capture()">Snap</button>
</div>




<script>

// zxc
    const mediaStreamConstraints = {
        video: true,
    };

    const localVideo = document.querySelector('video');


    let localStream;


    function gotLocalMediaStream(mediaStream) {
        localStream = mediaStream;
        localVideo.srcObject = mediaStream;
    }

    // mediaDevice 에러 핸들러
    function handleLocalMediaStreamError(error) {
        console.log('navigator.getUserMedia error: ', error);
    }

    // Navigator.mediaDevices 속성은 카메라, 마이크, 화면 공유와 같이 현재 연결된 미디어 입력 장치에 접근할 수 있는 MediaDevices 객체를 반환
    navigator.mediaDevices.getUserMedia(mediaStreamConstraints)
        .then(gotLocalMediaStream).catch(handleLocalMediaStreamError);
</script>
</body>
</html>